<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LittlePo UI</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="main">

        <div class="container">
            <form method="POST" class="appointment-form" id="appointment-form" action="littleporeceive">
                <h2>Little UI</h2>
                <div class="form-row">
                	<div class="form-group">
                        <label>Node ID:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= nodeID %></label>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                        <label>Node Type:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= nodeType %></label>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                        <label>User ID:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= nodeType %></label>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                        <label>Organization:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= legalEntity %></label>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                        <label>Product:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= productName %></label>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                        <label>Container ID:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= legalEntity %></label>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                        <label>Package Type:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= packageType %></label>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                        <label>Batch No:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= bbatchNo %></label>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                        <label>Location:</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= location %></label>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                        <label>Package weight</label>
                    </div>
                    <div class="form-group-ans">
                        <label><%= weight %></label>
                    </div>
                </div>
                <input type="hidden" name="qrCodeId" value="<%= dqrCodeID %>" />
                <input type="hidden" name="weight" value="<%= weight %>" />
                <div class="form-submit">
                    <input type="reset" name="cancel" id="cancel" class="cancel" value="Cancel" />
                    <input type="submit" name="submit" id="submit" class="submit" value="Confirm Receive" />
                </div>
            </form>
        </div>

    </div>

    <!-- JS -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>