<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Packer UI</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="main">

        <div class="container">
            <form method="POST" class="appointment-form" id="appointment-form">
                <h2>Packer UI</h2>
                <div class="form-group-1">
                    <input type="text" value ="<%= qrCodeId %>" name="qrCodeId" id="qrCodeId" placeholder="B Node QRCode" required readonly/>
                    <input type="text" name="productID" id="productID" placeholder="Product Id" required />
                    <input type="text" name="productName" id="productName" placeholder="Product Name" required/>
                    <input type="text" name="packageType" id="packageType" placeholder="Package Type" required/>
                    <input type="text" name="weight" id="weight" placeholder="Package Weight" required/>
                </div>
                <div class="form-submit">
                    <input type="reset" name="cancel" id="cancel" class="cancel" value="Cancel" />
                    <input type="submit" name="submit" id="submit" class="submit" value="Submit" />
                </div>
            </form>
        </div>

    </div>
    <!-- JS -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>